.artifact {
    text-align: left;
    margin-left: 18px;
}

h1.artifact {
    color: var(--artifact-color);
}

.artifact .caption{
    font-weight: bold;
    vertical-align: top;
}

.artifact .row-mini-header {
    margin-top: 15px;
}

.artifact .mini-header {
    font-weight: 600;
    color: var(--artifact-color);
    font-size: 20px;
}

.artifact .new {
    color: #da3e00;
}

.artifact span.description {
    white-space: pre-line;
    max-width: 150ch;
    display: inline-block;
}

.artifact li::marker {
    vertical-align: top;
}

.artifact .edit-btn {
    border-color: var(--gray-border-color);
    padding: 4px 6px 4px 6px;
    margin-left: 15px;
}

.artifact .float-char-btn > svg {
    color: var(--artifact-color);
}

.artifact .float-char-btn:hover {
    background-color:#dcdbdb;
    border-color: var(--gray-border-color);
}

.artifact .float-char-btn:focus {
    box-shadow: 0 0 0 .2rem var(--gray-border-color);
}