.artifact {
    text-align: left;
    margin-left: 18px;
}

h1.artifact {
    color: #d48b38;
}

.artifact .caption{
    font-weight: bold;
    vertical-align: top;
}

.artifact .row-mini-header {
    margin-top: 15px;
}

.artifact .mini-header {
    font-weight: 600;
    color: #d48b38;
    font-size: 20px;
}

.artifact .new {
    color: #da3e00;
}

.artifact span.description {
    white-space: pre-line;
    max-width: 150ch;
    display: inline-block;
}

.artifact li::marker {
    vertical-align: top;
}
