.artifacts .react-bootstrap-table-pagination-total {
    margin-left: 10px;
}

.artifacts .col-md-6 {
    text-align: left;
}

.artifacts #pageDropDown {
    background-color: var(--artifact-color);
}

.artifacts li.page-item.active > a {
    background-color: var(--artifact-color) !important;
    border-color: var(--artifact-color) !important;
    color: white !important;
}

.artifacts li.page-item.disabled > a {
    color:  var(--light-gray) !important;
}

.artifacts .page-link {
    color:  var(--artifact-link-color) !important;
}

.artifacts table {
    text-align: left;
}
