.character {
    text-align: left;
    margin-left: 18px;
}

h1.character {
    color: var(--character-color);
}

.character .caption{
    font-weight: bold;
}

.character .row-mini-header {
    margin-top: 15px;
}

.character .mini-header {
    font-weight: 600;
    color: var(--character-color);
    font-size: 20px;
}

.character a {
    color: var(--character-link-color);
}

.character .new {
    color: #da3e00;
}

.character span.description {
    white-space: pre-line;
    max-width: 150ch;
    display: inline-block;
}

span.caret {
    display: none;
}