.characters .react-bootstrap-table-pagination-total {
    margin-left: 10px;
}

.characters .col-md-6 {
    text-align: left;
}

.characters #pageDropDown {
    background-color:#aa6cb9;
}

.characters li.page-item.active > a {
    background-color:#aa6cb9 !important;
    border-color:#aa6cb9 !important;
    color: white !important;
}

.characters li.page-item.disabled > a {
    color: rgb(166, 167, 168) !important;
}

.characters .page-link {
    color: #9340a8 !important;
}

.characters table {
    text-align: left;
}

.characters .list-custom-class {
    float: left;
    margin-top: 14px;
    margin-bottom: 14px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 2px solid transparent;
    border-left: 4px solid transparent;
  }
  
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
  }