.character {
    text-align: left;
    margin-left: 18px;
}

h1.character {
    color: #aa6cb9;
}

.character .caption{
    font-weight: bold;
}

.character .row-mini-header {
    margin-top: 15px;
}

.character .mini-header {
    font-weight: 600;
    color: #aa6cb9;
    font-size: 20px;
}

.character a {
    color: #9340a8 !important;
}

.character .new {
    color: #da3e00;
}

.character .data-found {
    color: #f26bf7;
}

.character span.description {
    white-space: pre-line;
    max-width: 150ch;
    display: inline-block;
}