.event {
    text-align: left;
    margin-left: 18px;
}

h1.event {
    color: var(--event-color);
}

.event .caption{
    font-weight: bold;
}

.event .row-mini-header {
    margin-top: 15px;
}

.event .mini-header {
    font-weight: 600;
    color: var(--event-color);
    font-size: 20px;
}

.event a {
    color: var(--event-link-color) !important;
}

.event span.description {
    white-space: pre-line;
    max-width: 150ch;
    display: inline-block;
}

.event .text-to-columns {
    column-count: 3;
    margin-bottom: 16px;
}

.event .float-char-btn {
    border-color: var(--gray-border-color);
}

.event .float-char-btn > svg {
    color: var(--event-color);
}

.event .float-char-btn:hover {
    background-color:#dcdbdb;
    border-color: var(--gray-border-color);
}

.event .float-char-btn:focus {
    box-shadow: 0 0 0 .2rem var(--gray-border-color);
}