.events .react-bootstrap-table-pagination-total {
    margin-left: 10px;
}

.events .col-md-6 {
    text-align: left;
}

.events #pageDropDown {
    background-color: var(--event-color);
}

.events li.page-item.active > a {
    background-color: var(--event-color) !important;
    border-color: var(--event-color) !important;
    color: white !important;
}

.events li.page-item.disabled > a {
    color: var(--light-gray) !important;
}

.events .page-link {
    color: var(--event-link-color) !important;
}

.events table {
    text-align: left;
}

.events .text-to-columns {
    column-count: 6;
    margin-bottom: 12px;
}