.react-bootstrap-table-pagination-total {
    margin-left: 10px;
}

.col-md-6 {
    text-align: left;
}

#pageDropDown {
    background-color:#31bac9;
}

li.page-item.active > a {
    background-color:#31bac9 !important;
    border-color:#31bac9 !important;
    color: white !important;
}

li.page-item.disabled > a {
    color: rgb(166, 167, 168) !important;
}

.page-link {
    color: #32b2c0 !important;
}

table {
    text-align: left;
}
