.fleet .react-bootstrap-table-pagination-total {
    margin-left: 10px;
}

.fleet .col-md-6 {
    text-align: left;
}

.fleet #pageDropDown {
    background-color: var(--fleet-color);
}

.fleet li.page-item.active > a {
    background-color: var(--fleet-color) !important;
    border-color: var(--fleet-color) !important;
    color: white !important;
}

.fleet li.page-item.disabled > a {
    color: var(--light-gray) !important;
}

.fleet .page-link {
    color: var(--fleet-link-color) !important;
}

.fleet table {
    text-align: left;
}
