.fleet .react-bootstrap-table-pagination-total {
    margin-left: 10px;
}

.fleet .col-md-6 {
    text-align: left;
}

.fleet #pageDropDown {
    background-color:#31bac9;
}

.fleet li.page-item.active > a {
    background-color:#31bac9 !important;
    border-color:#31bac9 !important;
    color: white !important;
}

.fleet li.page-item.disabled > a {
    color: rgb(166, 167, 168) !important;
}

.fleet .page-link {
    color: #329ba7 !important;
}

.fleet table {
    text-align: left;
}

.fleet a {
    color: #329ba7 !important;
}