.messages .react-bootstrap-table-pagination-total {
    margin-left: 10px;
}

.messages .col-md-6 {
    text-align: left;
}

.messages #pageDropDown {
    background-color: var(--message-color);
}

.messages li.page-item.active > a {
    background-color: var(--message-color) !important;
    border-color: var(--message-color) !important;
    color: white !important;
}

.messages li.page-item.disabled > a {
    color: var(--light-gray) !important;
}

.messages .page-link {
    color: var(--message-link-color) !important;
}

.messages table {
    text-align: left;
}
