.messages .react-bootstrap-table-pagination-total {
    margin-left: 10px;
}

.messages .col-md-6 {
    text-align: left;
}

.messages #pageDropDown {
    background-color:#4fa129;
}

.messages li.page-item.active > a {
    background-color:#4fa129 !important;
    border-color:#4fa129 !important;
    color: white !important;
}

.messages li.page-item.disabled > a {
    color: rgb(166, 167, 168) !important;
}

.messages .page-link {
    color: #4fa129 !important;
}

.messages table {
    text-align: left;
}
