.message {
    text-align: left;
    margin-left: 18px;
}

h1.message {
    color: #4fa129;
}

.message .caption{
    font-weight: bold;
}

.message .row-mini-header {
    margin-top: 15px;
}

.message .mini-header {
    font-weight: 600;
    color: #4fa129;
    font-size: 20px;
}

.message a {
    color: #4fa129 !important;
}

.message span {
    white-space: pre-line;
}

.message .float-char-btn {
    border-color: #696969 !important;
}

.message .float-char-btn > svg {
    color:#4fa129 !important;
}

.message .float-char-btn:hover {
    background-color:#dcdbdb !important;
    border-color: #696969 !important;
}

.message .float-char-btn:focus {
    box-shadow: 0 0 0 .2rem #696969 !important;
}

.btn-group {
    margin-left: 15px;
    margin-right: 15px;
    float: right;
}

.modal .caption{
    font-weight: bold;
}

.splitscreen {
    display: flex;
}

.splitscreen .left {
    flex: 0.8;
}

.splitscreen .right {
    flex: 0.2;
}
