.plots .react-bootstrap-table-pagination-total {
    margin-left: 10px;
}

.plots .col-md-6 {
    text-align: left;
}

.plots #pageDropDown {
    background-color: var(--plot-color);
}

.plots li.page-item.active > a {
    background-color: var(--plot-color) !important;
    border-color: var(--plot-color) !important;
    color: white !important;
}

.plots li.page-item.disabled > a {
    color: var(--light-gray) !important;
}

.plots .page-link {
    color: var(--plot-color) !important;
}

.plots table {
    text-align: left;
}

.plots .text-to-columns {
    column-count: 6;
    margin-bottom: 12px;
}