.plot {
    text-align: left;
    margin-left: 18px;
}

h1.plot {
    color: var(--plot-color);
}

.plot .caption{
    font-weight: bold;
}

.plot .row-mini-header {
    margin-top: 15px;
}

.plot .mini-header {
    font-weight: 600;
    color: var(--plot-color);
    font-size: 20px;
}

.plot a {
    color: var(--plot-link-color) !important;
}

.plot .new {
    color: #da3e00 !important; 
}

.plot span.description {
    white-space: pre-line;
    max-width: 150ch;
    display: inline-block;
}

.plot .text-to-columns {
    column-count: 3;
}