.ship {
    text-align: left;
    margin-left: 18px;
}

h1.ship {
    color: var(--fleet-color);
}

.ship .caption {
    font-weight: bold;
}

.ship .mini-header {
    font-weight: 600;
    color: var(--fleet-color);
    font-size: 20px;
}

.ship span.description {
    white-space: pre-line;
    max-width: 150ch;
    display: inline-block;
}