.ship {
    text-align: left;
    margin-left: 18px;
}

h1.ship {
    color: #32b2c0;
}

.ship .caption {
    font-weight: bold;
}

.ship .mini-header {
    font-weight: 600;
    color: #32b2c0;
    font-size: 20px;
}

.ship .new {
    color: #da3e00;
}

.ship .data-found {
    color: #f26bf7;
}

.ship span.description {
    white-space: pre-line;
    max-width: 150ch;
    display: inline-block;
}