.App {
  text-align: center;
  margin: 10px;
}

.Title {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 18px;
  color: var(--title-color);
}

.nav-link.active {
  font-weight: bold;
}

.nav-link.active#tabs-tab-Characters {
  color: var(--character-color) !important;
}

.nav-link.active#tabs-tab-Fleet {
  color: var(--fleet-color) !important;
}

.nav-link.active#tabs-tab-Artifacts {
  color: var(--artifact-color) !important;
}

.nav-link.active#tabs-tab-Plots {
  color: var(--plot-color) !important;
}

.nav-link.active#tabs-tab-Events {
  color: var(--event-color) !important;
}

.nav-link.active#tabs-tab-Messages {
  color: var(--message-color) !important;
}

.nav-link {
  color: var(--light-gray) !important;
  font-size: 20px !important;
}

.title-tab {
  font-weight: 600;
}
.title-tab.Characters {
  color: var(--character-color);
}

.title-tab.Fleet {
  color: var(--fleet-color);
}

.title-tab.Artifacts {
  color: var(--artifact-color);
}

.title-tab.Plots {
  color: var(--plot-color);
}

.title-tab.Events {
  color: var(--event-color);
}

.title-tab.Messages {
  color: var(--message-color);
}

.characters a {
  color: var(--character-link-color) !important;
}

span.characters a {
  color: var(--character-link-color) !important;
}

.fleet a {
  color: var(--fleet-link-color) !important;
}

span.fleet a {
  color: var(--fleet-link-color) !important;
}

.artifacts a {
  color: var(--artifact-link-color) !important;
}

span.artifacts a {
  color: var(--artifact-link-color) !important;
}

.plots a {
  color: var(--plot-link-color) !important;
}

span.plots a {
  color: var(--plot-link-color) !important;
}

.events a {
  color: var(--event-link-color) !important;
}

span.events a {
  color: var(--event-link-color) !important;
}

.messages a {
  color: var(--message-link-color) !important;
}

span.messages a {
  color: var(--message-link-color) !important;
}

.floating-button-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.floating-button-container > div > button {
  background-color: #fff;
}

.floating-button-container > *:not(:last-child) {
  margin-right: 10px;
}

.App .btn-group {
  margin-right: 30px;
}

.App .float-char-btn .plot-button {
  color: var(--plot-color) !important;
  border-color: var(--gray-border-color) !important;
}

.App .float-char-btn .event-button {
  color: var(--event-color) !important;
  border-color: var(--gray-border-color) !important;
}

.App .float-char-btn .message-button {
  color: var(--message-color) !important;
  border-color: var(--gray-border-color) !important;
}

.App .float-char-btn:hover {
  background-color:#dcdbdb !important;
  border-color: var(--gray-border-color) !important;
  color: #505050 !important;
}

.App .float-char-btn:focus {
  box-shadow: 0 0 0 .2rem #696969 !important;
}

.App .float-char-btn > :nth-child(2) {
  margin-left: 0.2rem;
}

.form-label {
  margin-top: 8px;
  margin-bottom: 4px !important;
}