.App {
  text-align: center;
  margin: 10px;
}

.Title {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 18px;
  color: #696969;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link.active#tabs-tab-Characters {
  color: #aa6cb9 !important;
}

.nav-link.active#tabs-tab-Fleet {
  color: #32b2c0 !important;
}

.nav-link.active#tabs-tab-Artifacts {
  color: #d48b38 !important;
}

.nav-link.active#tabs-tab-Plots {
  color: #4584e9 !important;
}

.nav-link.active#tabs-tab-Events {
  color: #a52626 !important;
}

.nav-link.active#tabs-tab-Messages {
  color: #4fa129 !important;
}

.nav-link {
  color: rgb(166, 167, 168) !important;
  font-size: 18px;
}

.title-tab {
  font-weight: 600;
}
.title-tab.Characters {
  color: #aa6cb9;
}

.title-tab.Fleet {
  color: #32b2c0;
}

.title-tab.Artifacts {
  color: #d48b38;
}

.title-tab.Plots {
  color: #4584e9;
}

.title-tab.Events {
  color: #a52626;
}

.title-tab.Messages {
  color: #4fa129;
}

.floating-button-container {
  position: fixed;
  top: 20px;
  right: 20px;

}

.floating-button-container > *:not(:last-child) {
  margin-right: 10px;
}

.characters a {
  color: #9340a8 !important;
}

.fleet a {
  color: #329ba7 !important;
}

.artifacts a {
  color: #d48b38 !important;
}

.plots a {
  color: #4584e9 !important;
}

.events a {
  color: #a52626 !important;
}

.messages a {
  color: #4fa129 !important;
}

span.characters a {
  color: #9340a8 !important;
}

span.fleet a {
  color: #329ba7 !important;
}

span.artifacts a {
  color: #d48b38 !important;
}

span.plots a {
  color: #4584e9 !important;
}

span.events a {
  color: #a52626 !important;
}

span.messages a {
  color: #4fa129 !important;
}

.App .btn-group {
  margin-right: 30px;
}

.App .float-char-btn .plot-button {
  color:#4584e9 !important;
  border-color: #696969 !important;
}

.App .float-char-btn .event-button {
  color:#a52626 !important;
  border-color: #696969 !important;
}

.App .float-char-btn .message-button {
  color:#4fa129 !important;
  border-color: #696969 !important;
}

.App .float-char-btn:hover {
  background-color:#dcdbdb !important;
  border-color: #696969 !important;
  color:white !important;
}

.App .float-char-btn:focus {
  box-shadow: 0 0 0 .2rem #696969 !important;
}